/.pytest_cache
/.vscode/

__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# macOS
.DS_Store
/.Spotlight-V100
.Trashes
.fseventsd

# Packaging
*.egg-info/
*.egg-info

/benchmarks/bench_logs
/docs/build
