<?xml version="1.0" ?>
<robot name="spined_dog">
  <mujoco>
    <compiler meshdir="./meshes/" balanceinertia="true" discardvisual="false" fusestatic="false"/>
  </mujoco>

  <!-- Hind Body -->
  <link name="hind_body">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.984"/>
      <inertia ixx="0.01547635" iyy="0.00747572" izz="0.02098524" 
        ixy="0" iyz="0" ixz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_hind_body.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_hind_body.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_hind_left_leg_upper" type="revolute">
    <parent link="hind_body"/>
    <child link="hind_left_leg_upper"/>
    <limit effort="1000" lower="-10" upper="10" velocity="1000"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 -1.57 0" xyz="-0.033679841 0.136689830 0.000000820"/>
    <!-- pybullet simulation parameters -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <!-- Hind Left Leg -->
  <link name="hind_left_leg_upper">
    <inertial>
      <origin xyz="-0.05829842 0.01014064 -0.00091992" rpy="0 0 0"/>
      <mass value="0.15"/>
      <inertia ixx="0.00011593" iyy="0.00056031" izz="0.00051694" 
        ixy="0.00000315" iyz="0.00000114" ixz="-0.00001841"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_hind_left_leg_upper.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
      
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_hind_left_leg_upper.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_hind_left_leg_lower" type="revolute">
    <parent link="hind_left_leg_upper"/>
    <child link="hind_left_leg_lower"/>
    <limit effort="1000" lower="-10" upper="10" velocity="1000"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="-0.151 0.012 0.0"/>
    <!-- pybullet simulation parameters -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <link name="hind_left_leg_lower">
    <inertial>
      <origin xyz="-0.062232355 0 0" rpy="0 0 0"/>
      <mass value="0.035"/>
      <inertia ixx="0.00000335" iyy="0.00014425" izz="0.00014301" 
        ixy="0" iyz="0" ixz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_hind_left_leg_lower.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
      
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_hind_left_leg_lower.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_hind_right_leg_upper" type="revolute">
    <parent link="hind_body"/>
    <child link="hind_right_leg_upper"/>
    <limit effort="1000" lower="-10" upper="10" velocity="1000"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 -1.57 0" xyz="-0.033679841 -0.137310170 0.000000820"/>
    <!-- pybullet simulation parameters -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <!-- Hind Right Leg -->
  <link name="hind_right_leg_upper">
    <inertial>
      <origin xyz="-0.05829807 -0.01014064 -0.00091924" rpy="0 0 0"/>
      <mass value="0.15"/>
      <inertia ixx="0.00011591" iyy="0.00056028" izz="0.00051693" 
        ixy="-0.00000315" iyz="-0.00000114" ixz="-0.00001841"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_hind_right_leg_upper.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
      
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_hind_right_leg_upper.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_hind_right_leg_lower" type="revolute">
    <parent link="hind_right_leg_upper"/>
    <child link="hind_right_leg_lower"/>
    <limit effort="1000" lower="-10" upper="10" velocity="1000"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="-0.151 -0.012 0.0"/>
    <!-- pybullet simulation parameters -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <link name="hind_right_leg_lower">
    <inertial>
      <origin xyz="-0.062232355 0 0" rpy="0 0 0"/>
      <mass value="0.035"/>
      <inertia ixx="0.00000335" iyy="0.00014425" izz="0.00014301" 
        ixy="0" iyz="0" ixz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_hind_right_leg_lower.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
      
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_hind_right_leg_lower.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_hind_spine" type="revolute">
    <parent link="hind_body"/>
    <child link="hind_spine"/>
    <limit effort="1000" lower="-10" upper="10" velocity="1000"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0.105620295 0.019439829 0.000000819"/>
    <!-- pybullet simulation parameters -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <!-- Hind Spine -->
  <link name="hind_spine">
    <inertial>
      <origin xyz="0.05875 0.00728531 0" rpy="0 0 0"/>
      <mass value="0.059"/>
      <inertia ixx="0.00000769" iyy="0.00030789" izz="0.00030842"
        ixy="-0.00002525" iyz="0" ixz="-0.00000026"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_hind_spine.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
      
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_hind_spine.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_front_spine" type="revolute">
    <parent link="hind_spine"/>
    <child link="front_spine"/>
    <limit effort="1000" lower="-10" upper="10" velocity="1000"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0.1175 0 0"/>
    <!-- pybullet simulation parameters -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <!-- Front Spine -->
  <link name="front_spine">
    <inertial>
      <origin xyz="0.00874180 -0.02174997 0" rpy="0 0 0"/>
      <mass value="0.414"/>
      <inertia ixx="0.00020593" iyy="0.00058390" izz="0.00052443" 
        ixy="0.00007556" iyz="0" ixz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_front_spine.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
      
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_front_spine.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_front_body" type="revolute">
    <parent link="front_spine"/>
    <child link="front_body"/>
    <limit effort="1000" lower="-10" upper="10" velocity="1000"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0.1175 -0.036 0"/>
    <!-- pybullet simulation parameters -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <!-- Front Body -->
  <link name="front_body">
    <inertial>
      <origin xyz="0.10562029 0.01943983 0.00000082" rpy="0 0 0"/>
      <mass value="1.984"/>
      <inertia ixx="0.01547636" iyy="0.00747572" izz="0.02098524"
        ixy="0" iyz="0" ixz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_front_body.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
      
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_front_body.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_front_left_leg_upper" type="revolute">
    <parent link="front_body"/>
    <child link="front_left_leg_upper"/>
    <limit effort="1000" lower="-10" upper="10" velocity="1000"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 1.57 0" xyz="0.139300137 0.15675 0"/>
    <!-- pybullet simulation parameters -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <!-- Front Left Leg -->
  <link name="front_left_leg_upper">
    <inertial>
      <origin xyz="0.05829807 0.01014064 -0.00091924" rpy="0 0 0"/>
      <mass value="0.15"/>
      <inertia ixx="0.00011591" iyy="0.00056028" izz="0.00051693" 
        ixy="-0.00000315" iyz="0.00000114" ixz="0.00001841"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_front_left_leg_upper.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
      
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_front_left_leg_upper.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_front_left_leg_lower" type="revolute">
    <parent link="front_left_leg_upper"/>
    <child link="front_left_leg_lower"/>
    <limit effort="1000" lower="-10" upper="10" velocity="1000"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0.151 0.012 0.0"/>
    <!-- pybullet simulation parameters -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <link name="front_left_leg_lower">
    <inertial>
      <origin xyz="0.062232355 0 0" rpy="0 0 0"/>
      <mass value="0.035"/>
      <inertia ixx="0.00000335" iyy="0.00014301" izz="0.00014425"
        ixy="0" iyz="0" ixz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_front_left_leg_lower.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
      
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_front_left_leg_lower.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_front_right_leg_upper" type="revolute">
    <parent link="front_body"/>
    <child link="front_right_leg_upper"/>
    <limit effort="1000" lower="-10" upper="10" velocity="1000"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 1.57 0" xyz="0.139300137 -0.11275 0"/>
    <!-- pybullet simulation parameters -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <!-- Front Right Leg -->
  <link name="front_right_leg_upper">
    <inertial>
      <origin xyz="0.05829842 -0.01014064 -0.00091992" rpy="0 0 0"/>
      <mass value="0.15"/>
      <inertia ixx="0.00011593" iyy="0.00056031" izz="0.00051694"
        ixy="0.00000315" iyz="-0.00000114" ixz="0.00001841"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_front_right_leg_upper.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
      
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_front_right_leg_upper.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="joint_front_right_leg_lower" type="revolute">
    <parent link="front_right_leg_upper"/>
    <child link="front_right_leg_lower"/>
    <limit effort="1000" lower="-10" upper="10" velocity="1000"/>
    <!-- joints rotates around the y-axis -->
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0.151 -0.012 0.0"/>
    <!-- pybullet simulation parameters -->
    <dynamics damping="0.0" friction="0.0"/>
  </joint>

  <link name="front_right_leg_lower">
    <inertial>
      <origin xyz="0.062232355 0 0" rpy="0 0 0"/>
      <mass value="0.035"/>
      <inertia ixx="0.00000335" iyy="0.00014425" izz="0.00014301"
        ixy="0" iyz="0" ixz="0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_front_right_leg_lower.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
      
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/simplify_sim_front_right_leg_lower.stl"
          scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

</robot>
